<% if logged_in? %>
  <div>
    <section >
      <%= render 'shared/user_info' %>
    </section>
    <section >
      <%= render 'shared/micropost_form' %>
    </section>
  </div>
<% else %>
  <div >
    <h1>Welcome to the Sample App</h1>

    <h2>This is the home page</h2>

    <%= link_to "Sign up now!", signup_path, class: "button" %>
  </div>
<% end %>
