<% provide(:title, @user.name) %>
<h1>Hello <%= @user.name %></h1>

<table>
  <thead>
    <tr>
      <th class="scenarioWidth"><h3> Scenario </h3></th>
      <th><h3> Comments </h3></th>
      <th class="tableLinkWidth"><h3> Image </h3></th>
      <th class="tableLinkWidth"></th>
    </tr>
  </thead>
</table>

<div >
  <% if @user.microposts.any? %>
      <%= render @microposts %>
  <% end %>
</div>
