<table>
  <tbody>
    <tr>
      <td class="scenarioWidth"><h2><%= micropost.scenario %></h2></td>
      <td><h2><%= micropost.content %></h2></td>
      <td class="tableLinkWidth"><h2><%= link_to "View", micropost.picture.url %></h2></td>
      <td class="tableLinkWidth"><% if current_user?(micropost.user) %>
        <h2><%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" } %></h2>
      <% end %></td>
    </tr>
  </tbody>
</table>
